---
// In any .astro file (usually layout or page)
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<title>Martian Robots Simulator</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style></style>
